<!-- For displaying discussions and their comments on discussion/index page -->
<% @discussions.each do |discussion| %>

<!-- display white paper/discussion -->
<div id="discussion-<%= discussion.id %>" class="discussion">
    <div id="discussion-container-<%= discussion.id %>">
    <!-- displaying discussion text + user picture -->
        
    <!-- Discussion action buttons -->
     <%= render partial: '/shared/discussion_actions', locals: { discussion: discussion } %>
   
    <!-- displaying each comment -->
        <% discussion.comments.all.order(created_at: :asc).each do |comment| %>
            
        <%= render partial: '/shared/comment', locals: { comment: comment } %>
        <%end%>
    </div>
    <!-- displaying form for commenting-->
      <% if logged_in? %>
        <%= render partial: '/shared/comment_form', locals: { discussion: discussion } %>
    <% else %>
    <div class="row">
    <div class="small-12 columns text">
    <div class="guest-comment">
    <p class="centered-text"> <%= link_to "Login ", login_path %> or <%= link_to "Sign up ", signup_path %> now to post a comment.</p>
    </div>
    </div>
    </div>
    <% end %>
    
</div>
<% end %>