<!-- For displaying discussions and their comments on discussion/index page -->
<% @discussions.each do |discussion| %>
  <div class="discussion">
  

<div class="user-post">
            <div class="row">
                <div class="small-2 large-2 columns user-avatar-holder">
                 <div class: "user-avatar"><%= link_to gravatar_for(discussion.user), discussion.user %>
                </div>
                </div>

                    <div class="small-10 columns">


                        <div class="row user-details">
                       <div class="small-6 columns text">
                      
                       <% if discussion.user.admin? %> 
                        <%= link_to discussion.user.nickname, discussion.user, class: "staff" %> 

                        <%else%>

                        <%= link_to discussion.user.nickname, discussion.user %>
                        <%end%>

                            <div class="date-ago">
                             <% if discussion.created_at == discussion.updated_at %>

                            <%= time_ago_in_words(discussion.created_at) %> ago
                              <% else %>
                           updated <%= time_ago_in_words(discussion.updated_at) %> ago
                           <% end %>

                            </div>
                        </div>
                            <div id="user-details" class="small-6 columns">
                            <% if discussion.user.admin? %>


                            <p class="right staff">Admin</p> 
                            
                            <%else%>

                            <p class="right">Title</p>
                            <% end %> 
                            </div> 


                            </div>


                        <div class="row comment-text">
                          <div style="white-space: pre-line;"><%= discussion.content %></div>
                </div>

            <div class="row">
            <div class="small-10 large-10 columns replyVoting">

                <a class="disabled" href="#">Reply</a>

                <div class="userVoting"><p>#points</p>
                    <a href="#"><div id="user-upvote" class="button-user-vote"><i class="fa fa-angle-up fa-lg"></i></div></a>

                    <a href="#"><div id="user-downvote" class="button-user-vote"><i class="fa fa-angle-down fa-lg"></i></div></a>

                </div>
                <div class="userActions">
                <% if logged_in? %>
                <% if discussion.user == current_user %>
			      <%= link_to 'Edit', edit_discussion_path(discussion) %>
			      <%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure you want to delete discussion?'} %>
				<% else %>
				<% if current_user.admin? %>
				<%= link_to 'Edit', edit_discussion_path(discussion) %>
				<%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure you want to delete discussion?'} %>
				<% end %>
				<% end %>
				<% end %>
				</div>
                
                </div>
        </div>
                </div>
            </div>
</div>
  	<!-- displaying each comment -->
       <%= render partial: '/shared/indexComments', locals: { discussion: discussion } %>

    <div class="row discussion-comment">
    <div class="small-2 columns user-avatar-holder">
    
    <div class: "user-avatar">
    <% if logged_in? %>
    <%= link_to gravatar_for(current_user), current_user %>
    <% end %>
    </div>
    </div>
    <div class="small-10 columns text">
    <div>
    <%= form_for(@comment) do |f| %>
    <%= f.hidden_field :discussion_id, value: discussion.id %>
    <%= f.text_area :body, placeholder: "Enter your comment", class: "form-comment" %>
    <%= f.submit "Post", class: "button small" %>
    <%end%>
</div>

    </div>
    </div>


  </div>
<% end %> 