<!-- For displaying discussions and their comments on discussion/index page -->
<% @discussions.each do |discussion| %>

<!-- display white paper/discussion -->
<div id="discussion-<%= discussion.id %>" class="discussion">
    <div id="discussion-container-<%= discussion.id %>">
    <!-- displaying discussion text + user picture -->
        <%= render partial: '/shared/discussion', locals: { discussion: discussion} %>

    <!-- displaying each comment -->
        <% discussion.comments.each do |comment| %>
            
        <%= render partial: '/shared/comment', locals: {comment: comment} %>
        <%end%>
    </div>
    <!-- displaying form for commenting-->
        <%= render partial: '/shared/comment_form', locals: { discussion: discussion } %>

</div>
<% end %>