<div class="topbar">

        <div class="medium-offset-2 small-12 medium-7 columns">
            <h1 class="main">=] Troller</h1>
        </div>


    </div>
    <div class="container-main">


        <div class="main-title">
            <h1>The ultimate platform for heated discussions!</h1>
        </div>

        <div class="index-discussion">

            <h3>If you enjoy in heated conversations without unnecessary censorship this is the platform created just for you.<br><br> We all enjoy in reading youtube comments, especially when people beat the shit out of each other and argue over politics, religion, races and other unimportant things . </h3>



            <div class="row index-margin">
                <div class="index-center-image-text">
                    <div class="medium-12 large-4 columns centered-text">
                        <h3><i class="fa fa-thumbs-o-up fa-1x"></i> <i  style="padding-right: 10px" class="fa fa-thumbs-o-down fa-1x"></i> Comment, vote, YOU are in charge of what will appear on the front page.</h3>
                    </div>
                    <div class="medium-12 large-8 columns text">
                    <%= image_tag("Iamanass_comment3.png", alt: "example1", class: "image") %>
                    </div>

                </div>
            </div>

            <div class="row index-margin">
                <div class="index-center-image-text">
                    <div class="medium-12 large-6 columns text">
                    <%= image_tag("titles_comments.png", alt: "example2", class: "image") %>
                    </div>
                    <div class="medium-12 large-6 columns centered-text">
                        <h3>Earn points and titles as you are making witty comments!</h3>
                    </div>
                </div>
            </div>

            <div class="row index-margin">
                <div class="small-12 columns index-padding centered-text">
                    <h2>Battle your way to the top, and achieve the ultimate glory! <i class="fa fa-trophy fa-1x"></i></h2>
                </div>

                <table class="zebra">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nickname</th>
                            <th>Title</th>
                            <th>Points</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>I am an ass</td>
                            <td>Admin</td>
                            <td>102 479</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Your avatar suits your nickname</td>
                            <td>Godlike troll</td>
                            <td> 90 201</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Internetsthing</td>
                            <td>King of trolls</td>
                            <td> 59 365</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>I love this site</td>
                            <td>King of trolls</td>
                            <td> 51 512</td>
                        </tr>
                    </tbody>
                </table>

                <!-- vtavi sliko -->
            </div>


            <div class="margin-top-180">
                <h3>If you like what you see above you are right fit for this platform. Sign up to join the maximum fun.</h2></br> 
            
            <h3>IF you are still not convinced if this is the right place for you, you can still enjoy in reading comments without Signing up.</h2>
            

        </div>
            
            
                        
            
            
        <div class="margin-top-50"></div>
        <div class="row">
            
            <div class="medium-4 columns center-button"><%= link_to "Sign up", signup_path,class: "button btn-black" %></div>
            <div class="medium-4 columns center-button"><%= link_to "Log in", class: "button btn-black" %></div>
            <div class="medium-4 columns center-button"><%= link_to "I want to read without signing in", discussions_path, class: "button btn-black"%></a></div>
        
        </div>

        </div> <!-- end of discussion -->
        
        
        
    </div> <!-- end of container-->