<p id="notice"><%= notice %></p>
<div class="discussion">
<h2 class="centered-text">Listing Comments:</h2>


<p>D.id = Discussion ID, C.id = Comment ID </p>


<table class="zebra">
  <thead>
    <tr>
      <th>D.id</th>
      <th>C.id</th>
      <th>Body</th>
      <th><div style="width: 100px">User</div></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.discussion_id %></td>
        <td><%= comment.id %></td>
        <td id="body-<%= comment.id %>"><div style="word-break: break-all;
    word-wrap: break-word;"><%= comment.body %></div></td>
        <td>
        <% if comment.user.admin? %>
        <p class="staff"><%= comment.user.nickname%></p>
        <% else %>
        <%= comment.user.nickname %>
        <%end%>

        </td>
         <td>
         <% if current_user.admin? %>
      <%= link_to "Edit", edit_comment_path(comment), remote: true, data: { :'reveal-id' => "Edit-Modal-#{comment.id}", disable_with: "Opening..." } %>


      <div id="Edit-Modal-<%= comment.id %>" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <h2 class="centered-text">Edit Comment:</h2>
          <%= form_for(comment, remote: true) do |f| %>
          <%= f.text_area :body, class: "form-comment2" %>
          <%= f.submit "Edit Comment", class: "button", data: { disable_with: "Saving..." } %>
          <%end%>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
      <% end %>
      </td>
        
      <td><%= link_to 'Destroy', comment, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>