// replace commentScore number with ajax
$('#commentScore-<%= @comment.id %>').find('p').fadeIn(500, function(){
	$(this).replaceWith('<p><%= @comment.score %></p>');
});

// replace karma number in comment with ajax
$('.userKarma-<%= @comment.user.id %>').find('p').fadeIn(500, function() {
	$(this).replaceWith('<p><%= karma_title(@comment.user) %> <%= @comment.user.karma %>pts</p>');
});

$('#comment-<%= @comment.id %>').find('#upvote').fadeIn(500, function() {
	$(this).replaceWith(' <%= j render partial: "unvote_up", locals: { comment: @comment } %>');
});