<div class="discussion">
<h2 class="centered-text">Leaderboards</h2>
	<table class="zebra">
  <thead>
    <tr>
      <th>#</th>
      <th>Nickname</th>
      <th>Title</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= (i+1) %></td>
               <td>
        <% if user.admin? %>
        <span class="staff"><%= user.nickname %></span>
        <% else %>
        <%= user.nickname %>
        <% end %>
        </td>
        <td>
        <% if user.admin? %>
        <span class="staff"><%= karma_title(user) %></span>
        <% else %>
        <%= karma_title(user) %>
        <% end %>
        </td>
        <td>
        <% if user.admin? %>
        <span class="staff"><%= user.karma %></span>
        <% else %>
        <%= user.karma %>
        <% end %>
        </td>
        <% end %>
         </tr>
         </tbody>
         </table>

</div>