<!-- displays comment and user -->
<div id="comment-<%= comment.id %>">
<div class="user-post">
            <div class="row">
                <div class="small-2 large-2 columns user-avatar-holder">
                 <div class: "user-avatar"><%= link_to gravatar_for(comment.user), comment.user %>
                </div>
                </div>

                    <div class="small-10 columns">


                        <div class="row user-details">
                       <div class="small-6 columns text">
                      
                       <% if comment.user.admin? %> 
                        <%= link_to comment.user.nickname, comment.user, class: "staff" %> 

                        <%else%>

                        <%= link_to comment.user.nickname, comment.user %>
                        <%end%>

                        
                       <div class="date-ago">
                             <% if comment.created_at == comment.updated_at %>

                            <%= time_ago_in_words(comment.created_at) %> ago
                              <% else %>
                           updated <%= time_ago_in_words(comment.updated_at) %> ago
                           <% end %>

                            </div>
                        </div>
                            <div id="user-details" class="small-6 columns">
                              <% if comment.user.admin? %>
                                   <div class="userKarma-<%= comment.user.id %> right staff"><p><%= karma_title(comment.user) %>  
                               <%= comment.user.karma %>pts
                                </p></div>                           
                              <%else%>
                                <div class="userKarma-<%= comment.user.id %> right"><p><%= karma_title(comment.user) %>  
                               <%= comment.user.karma %>pts
                                </p></div>
                              <% end %> 
                            </div> 

                            </div>

                        <div class="row comment-text">
                        <div class="small-12 columns text">
                          <pre class="font"><div style="white-space: pre-wrap;"><%= comment.body %></div></pre>
                        </div>
                        </div>
            <div class="row">
              <div class="small-10 large-10 columns replyVoting">
                <a class="disabled" href="#">Reply</a>
                <div class="userVoting">
                  <div id="commentScore-<%= comment.id %>"><p><%= comment.score %></p></div>
                <!-- VOTING AND UNVOTING SYSTEM-->
                
                <% unless logged_in? %>
                 <%= link_to upvote_comment_path(comment), class:"button-user-vote", method: :put do %>
                      <i class="fa fa-thumbs-o-up fa-lg"></i></span>
                      <% end %>
                  <%= link_to downvote_comment_path(comment), class:"button-user-vote", method: :put do %>
                        <i class="fa fa-thumbs-o-down fa-lg"></i>
                        <% end %>
                <% end %>

<!-- Logged in users only can vote -->
                  <% if logged_in? %>
                    <% unless current_user == comment.user %>

                    <% if current_user.voted_up_on? comment %>
                      <%= link_to unvote_comment_path(comment), class: "button-user-vote-voted", method: :put do %>
                      <i class="fa fa-thumbs-o-up fa-lg"></i>
                      <% end %>
                    <% else %>
                      <%= link_to upvote_comment_path(comment), class:"button-user-vote", id: "upvote",remote: true,method: :put do %>
                        <i class="fa fa-thumbs-o-up fa-lg"></i>
                      <% end %>
                    <% end %>

                    <% if current_user.voted_down_on? comment %>
                     <%= link_to unvote_comment_path(comment), class: "button-user-vote-voted", method: :put do %>
                      <i class="fa fa-thumbs-o-down fa-lg"></i>
                      <% end %>
                    <% else %>
                        <%= link_to downvote_comment_path(comment), class:"button-user-vote", id: "downvote",remote: true, method: :put do %>
                          <i class="fa fa-thumbs-o-down fa-lg"></i>
                          <% end %>
                    <% end %>

                    <% end %>
                  <% end %>
                </div>

              <!-- Edit delete user actions -->
<div class="userActions">
  <% if logged_in? %>
    <% if comment.user == current_user %>

    <!-- EDIT MODAL // it display modal but I can update only the first comment of the current_user -->

      <%= link_to "Edit", edit_comment_path(comment), remote: true, data: { :'reveal-id' => "Edit-Modal-#{comment.id}" } %>


      <div id="Edit-Modal-<%= comment.id %>" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
          <h2 class="centered-text">Edit Comment:</h2>
            <%= form_for(comment, remote: true) do |f| %>
            <%= f.text_area :body, class: "form-comment2" %>
            <%= f.submit "Edit Comment", class: "button" %>
            <%end%>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

    	<%= link_to 'Destroy', comment, remote: true, method: :delete, data: { confirm: 'Are you sure?'} %>
			
      <% else %>
				
  <% if current_user.admin? %>
    	<%= link_to "Edit", edit_comment_path(comment), remote: true, data: { :'reveal-id' => "Edit-Modal-#{comment.id}" } %>


      <div id="Edit-Modal-<%= comment.id %>" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <h2 class="centered-text">Edit Comment:</h2>
          <%= form_for(comment, remote: true) do |f| %>
          <%= f.text_area :body, class: "form-comment2" %>
          <%= f.submit "Edit Comment", class: "button" %>
          <%end%>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
      <%= link_to 'Destroy', comment, remote: true, method: :delete, data: { confirm: 'Are you sure?'} %>
				  <% end %>
				  <% end %>
				  <% end %>
</div>
                
            </div>
          </div>
                  </div>
        </div>
</div>
</div>