<div class="row">
           <div class="small-2 columns">
           <p> </p>
                 <% if logged_in? %>
                <% if discussion.user == current_user %>
                  <%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Warning: This will delete discussion and all comments below! Are you sure you want to delete this discussion?' } %>
                  <%= link_to 'Edit', edit_discussion_path(discussion) %>
                <% else %>
                <% if current_user.admin? %>
                <%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Warning: This will delete discussion and all comments below! Are you sure you want to delete this discussion?'} %>
                <%= link_to 'Edit', edit_discussion_path(discussion) %>
                <% end %>
                <% end %>
                <% end %>
           </div>
           <div class="small-10 columns">
               <div class="userVoting right">
                <p><%= pluralize(discussion.score, "user") %> recommend this discussion</p>
              <% unless logged_in? %>
                <%= link_to upvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                  <i class="fa fa-thumbs-o-up fa-lg"></i></span>
                <% end %>
                <%= link_to downvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                  <i class="fa fa-thumbs-o-down fa-lg"></i>
                <% end %>
              <% end %>

              <% if logged_in? %>
                  <% if current_user.voted_up_on? discussion %>
                    <%= link_to unvote_discussion_path(discussion), class:"button-user-vote-voted", method: :put do %>
                      <i class="fa fa-thumbs-o-up fa-lg"></i></span>
                    <% end %>
                  <% else %>
                    <%= link_to upvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                      <i class="fa fa-thumbs-o-up fa-lg"></i>
                    <% end %>
                  <%end%>

                    <% if current_user.voted_down_on? discussion %>
                      <%= link_to unvote_discussion_path(discussion), class:"button-user-vote-voted", method: :put do %>
                      <i class="fa fa-thumbs-o-down fa-lg"></i>
                    <% end %>
                    <% else %>
                      <%= link_to downvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                        <i class="fa fa-thumbs-o-down fa-lg"></i>
                      <% end %>
                  <% end %>
              <% end %>
              </div>
           </div>
       </div>
