	<!-- Displays discussion text and user -->
    <!-- display discussion voting-->
    <div class="row">
        <div class="small-12 columns">
          <div class="userVoting right">
            <p><%= pluralize(discussion.score, "user") %> recommend this discussion</p>
              <% unless logged_in? %>
                <%= link_to upvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                  <i class="fa fa-thumbs-o-up fa-lg"></i></span>
                <% end %>
                <%= link_to downvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                  <i class="fa fa-thumbs-o-down fa-lg"></i>
                <% end %>
              <% end %>

              <% if logged_in? %>
                  <% if current_user.voted_up_on? discussion %>
                    <%= link_to unvote_discussion_path(discussion), class:"button-user-vote-voted", method: :put do %>
                      <i class="fa fa-thumbs-o-up fa-lg"></i></span>
                    <% end %>
                  <% else %>
                    <%= link_to upvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                      <i class="fa fa-thumbs-o-up fa-lg"></i>
                    <% end %>
                  <%end%>

                    <% if current_user.voted_down_on? discussion %>
                      <%= link_to unvote_discussion_path(discussion), class:"button-user-vote-voted", method: :put do %>
                      <i class="fa fa-thumbs-o-down fa-lg"></i>
                    <% end %>
                    <% else %>
                      <%= link_to downvote_discussion_path(discussion), class:"button-user-vote", method: :put do %>
                        <i class="fa fa-thumbs-o-down fa-lg"></i>
                      <% end %>
                  <% end %>
              <% end %>
                  </div>
        </div>
    </div>
    <div class="user-post">
            <div class="row">
                <div class="small-2 large-2 columns user-avatar-holder">
                 <div class: "user-avatar"><%= link_to gravatar_for(discussion.user), discussion.user %>
                </div>
                </div>

                    <div class="small-10 columns">


                        <div class="row user-details">
                       <div class="small-6 columns text">
                      
                       <% if discussion.user.admin? %> 
                        <%= link_to discussion.user.nickname, discussion.user, class: "staff" %> 

                        <%else%>

                        <%= link_to discussion.user.nickname, discussion.user %>
                        <%end%>

                       <div class="date-ago">
                             <% if discussion.created_at == discussion.updated_at %>

                            <%= time_ago_in_words(discussion.created_at) %> ago
                              <% else %>
                           updated <%= time_ago_in_words(discussion.updated_at) %> ago
                           <% end %>

                            </div>
                        </div>
                            <div id="user-details" class="small-6 columns">
                            <% if discussion.user.admin? %>


                            <p class="right staff">Admin</p> 
                            
                            <%else%>

                            <p class="right">Title</p>
                            <% end %> 
                            </div> 


                            </div>


                        <div class="row comment-text">
                          <div style="white-space: pre-wrap;"><%= discussion.content %></div>
                </div>

            <div class="row">
            <div class="small-10 large-10 columns replyVoting">

                <a class="disabled" href="#">Reply</a>

                <div class="userVoting"><p>#points</p>
                    <a href="#"><div id="user-upvote" class="button-user-vote"><i class="fa fa-angle-up fa-lg"></i></div></a>

                    <a href="#"><div id="user-downvote" class="button-user-vote"><i class="fa fa-angle-down fa-lg"></i></div></a>

                </div>
                <div class="userActions">
                <% if logged_in? %>
                <% if discussion.user == current_user %>
			      <%= link_to 'Edit', edit_discussion_path(discussion) %>
			      <%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Warning: This will delete discussion and all comments below! Are you sure you want to delete this discussion?' } %>
				<% else %>
				<% if current_user.admin? %>
				<%= link_to 'Edit', edit_discussion_path(discussion) %>
				<%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Warning: This will delete discussion and all comments below! Are you sure you want to delete this discussion?'} %>
				<% end %>
				<% end %>
				<% end %>
				</div>
                
                </div>


			  	

        </div>



                </div>

            </div>


</div>