<div class="row top-paper">
<div class="small-12 columns" style="margin-bottom: 0px;">
<h2 style="text-align: center;"><%= @category.name %></h2>
<% if logged_in? && current_user.admin? %>
<%= link_to 'Edit', edit_category_path(@category), class: "button tiny", style: "margin:10px" %>
<%= link_to 'Delete', @category, method: :delete, data: { confirm: "Are you sure you want to delete this category and all it's comments?"}, class: "button tiny" %>
<% end %>
</div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="small-12 columns top-paper">
      <%= link_to 'New Discussion', new_category_discussion_path(category_id: @category.id), class: "button" %>
      <h3 class="logged-in-as">Logged in as: <%= current_user.nickname %></h3>
    </div>
  </div>
<% end %>

<%= render partial: '/discussions/discussion_and_comments' %>